@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sitecore 9.1 Update 1</h1>
    <p class="lead">Web content management radically transforms how your brand interacts with prospects. Start marketing in context with Sitecore's customer experience platform.</p>
    <p><a href="https://www.sitecore.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Sitecore Channel for learning which includes step by step guide for beginners
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/channel/UClaYljOH3GWOiFIgmxB-Ujw">Learn more &raquo;</a></p>
    </div>   
</div>